*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    position:relative;
}


/* for container */
.container{
    width: 1200px;
    min-height: 100vh;
    margin:auto;
    position:relative;
    font-family: sans-serif;
}
.box{
    height: 100%;
    width:95%;
    margin:auto;
}

/* for header where is logo,menu-bar and hamburger icon */
header{
    display: grid;
    padding:0px 20px;
    grid-template-columns: 1fr 1.9fr 180px;
    
}
.logo{
    width:95px;
    height: 80px;
    cursor: pointer;
}
.logo img{
    width:100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
.menu-bar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.download{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download ul{
    list-style-type: none;
    background-color: black;
    padding:0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 20px 20px 2px 20px;
}
.download ul li a{
    color:white
}
.close-menu, #check{
    position:absolute;
    display: none;
}
.open-menu {
    position: absolute;
    top:35px;
    right: 25px;
    display: none;
}
.close-menu{
    top:5%;
    right: 15%;
    display: none;
}


/*  section  */
section{
    display: grid;
    grid-template-rows: 620px auto;
    grid-auto-flow:column;
    grid-auto-columns: 450px auto;
}
.service{
    padding: 6rem 0;
}
.service h1{
    font-size: 3rem;
    letter-spacing: 0.px;
    font-weight:lighter;
    margin:25px 0;
    color:rgb(54, 49, 49);
}
.service h2{
    padding-right: 2rem;
    font-size:1.2rem;
    word-spacing: 0.1rem;
    font-weight:lighter;
    line-height: 30px;
    color:rgb(101, 97, 97)
}

.buttons{
    padding:40px 0;
}
.buttons .btn-1st{
    background-color:#f9c935;
    padding:0.8rem 2.2rem;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px 30px 30px 2px;
    border:none;
    margin-right:20px;
}

.buttons .btn-2nd{
    color:white;
    background-color: black;
    padding:0.8rem 2.2rem;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px 30px 2px 30px;
    border:none;
}



.image-box{
    position: relative;
    overflow: hidden;
    width:105%;
}
.inside-box{
    position:absolute;
    top:-20%;
    left:8%;
    width:700px;
    height:700px;
    border-radius: 50% 1% 50% 50%;
    background-color:#f9c935;
    overflow: hidden;
}
.image{
    width:100%;
    height:100%;
    background-image: url('./images/home_img_new.webp');
    background-size:cover;
    background-position: -5cm 3cm;
    background-repeat: no-repeat;
}
.safety{
    width: 1120px;
    height: 420px;
    background-image: url('./images/safety_guideline.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -1.2cm 0cm;
}



/* for article */
.know-us-better{
    padding:5rem 2rem;
    display: flex;
    flex-direction: row-reverse;
}
.display-images{
    padding:5em 0;
    display: flex;
    display: grid;
    grid-template-columns: 180px 280px;
    grid-template-rows: repeat(12,35px);
    gap:10px;
    height: 100vmin;
} 
.image-1st{
    grid-row: 1/6;
}

.image-1st img{
    border-radius:92px 92px 5px 92px;
}

.ani1{
    grid-row: 6/13;
    padding-left: 73%;
    padding-top: 95px;
}

.ani1 .inside-ani1{
    width: 3rem;
    height:12rem;
    background-color: #f9c935;
    border-radius: 20px 2px 20px 20px;
}
.ani2{
    grid-row: 1/5;
}
.image-2nd{
    grid-row: 5/13;
    
}
.image-2nd img{
    border-radius: 5px 92px 92px 92px;
} 
.discription{
    padding:2rem 4rem;
}
.discription h2{
    font-size: 2rem;
}
.discription p{
    font-size:1.2rem;
    word-spacing: 0.1rem;
    font-weight:lighter;
    line-height: 30px;
    color:rgb(101, 97, 97);
    padding:2rem 0rem;
}
.discription button{
    background-color: #f9c935;
    border:none;
    font-size: 1rem;
    font-weight: bold;
    padding:5% 12%;
    cursor:pointer;
    border-radius: 30px 30px 30px 2px;
    margin-top: 1rem;
}


/* Footer section */
footer{
    margin-top: 4rem;

}
.footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
}
footer h5{
    color:white;
    font-size: 1.5rem;
    font-weight: normal;
}



/* media query at 1200px*/
@media screen and (max-width:1200px){
    .container{
        width: 1000px;
    }
    header{
        padding:0px;
        grid-template-columns: 1fr 1.7fr 180px;
    }
    .logo{
        margin:0px 24px;
    }

    /* section */
    section{
        grid-auto-columns: 430px auto;
    }
    .service h2{
        padding-right: 5.1rem;
    }
    .inside-box{
        left:0%;
    }
    .image-box{
        width:120%;
    }
    .buttons{
        position:absolute;
    }
    .safety{
        width: 940px;
    }
}


/* media query at 990px */
@media screen and (max-width:990px){
    .container{
        max-width: 750px;
        width: 100%;
        padding: 15px 0;
    }
    header{
        grid-template-columns: 1fr 110px 2rem;
        padding:0px;
    }
    .logo{
        margin:0px;
        height:50px;
        width: 75px;
    }
    .menu-bar{
        background-color: #f9c935;
        position:fixed;
        width: auto;
        left:0;
        top: 0;
        right:0;
        bottom:0;
        display: flex;
        justify-content: center;
        display: none;
    }
    .menu-bar ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:2rem;
        align-items: center;
    }
    .menu-bar ul li a{
        color:red;
        font-size: 20px;
    }
    .download{
        padding:0rem;
    }
    .download ul{
        background-color: white;
        padding:0rem;
        list-style-type: none;
        cursor: pointer;
        font-size: 0.8rem;
    
    }
    .download ul li a{
        color: black;
        padding:0;
        margin:0;
    }
    .open-menu{
        display: block;
    }
    .open-menu, .close-menu{
        display: block;

    }
    #check:checked ~ .menu-bar{display: block;}
    #check:checked ~ .close-menu{display: block;}
    #check:checked ~ .open-menu{display: none;}



    /* for seciton */
    section{
        display: block;
    }
    .service{
        width:100%;
        padding:0;
        padding-top:8%;
        text-align: center;
    }
    .service h1{
        font-size: 2rem;
        padding:0 22%;
        margin:0;
    }
    .service h2{
        padding: 0 20%;
    }
    .buttons{
        position:static;
    }
    .buttons{
        padding:0;
    }
    .buttons .btn-1st{
        padding:2% 4%;
        margin:1rem;
    }
    
    .buttons .btn-2nd{
        padding:2% 4%;
    }
    .safety{
        width:100%;
        max-width: 700px;
        background-size:110%;
        background-position: center;
        height: 45vmin;
    }
    .image-box{
        width:100%;
    }
    .inside-box{
        position:static;
        border-radius: 5px;
        height: 100vmin;
        width:100%;
    }
    .image{
        background-size:120%;
        background-position: center;
        background-repeat: no-repeat;
    }

    /*  for article */
    .know-us-better{
        display:block;
    }
    .discription{
        padding:2rem 4rem;
        padding:1% 17% ;
        text-align: center;
    }
    .display-images{
        padding:5% 25%;
        height: 50vmin;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,16vmin);
        gap:3%;
    }
    .image-1st{
        grid-row: 1/3;
    }
    .image-1st img{
        width: 100%;
        height: 100%;
    }
    .ani1{
        grid-row: 3/4;
        padding-top: 9px;
    }
    
    .ani1 .inside-ani1{
        height: 60%;
        width: 100%;
    }
    .ani2{
        grid-row: 1/2;
        padding-top:20px;
    }
    .ani2 .inside-ani2{
        width: 40%;
        height: 50%;
        background-color: #f9c935;
        border-radius: 25px 25px 25px 2px;
    }
    .image-2nd{
        grid-row: 2/4;
        
    }
    .image-2nd img{
        width: 100%;
        border-radius: 5px 92px 92px 92px;
    }



    /*  footer section */
    footer h5{
        font-size: 1rem;
    }
}